@use 'variables';

.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: variables.$bgColor;
    transition: background-color .5s ease;

    &--hidden{
        background-color: transparent;
        transition: background-color .5s ease;

        .header__logo, .header__links__item:first-child{
            opacity: 0;
            visibility: hidden;
            transition: opacity .5 ease;
        }

    }

    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px){
            padding: 0 12px 0 20px;
        }
    }

    &__logo{
        max-width: 80px;
        width: 100%;
        transition: opacity .5 ease;

        @media (max-width: 768px){
            max-width: 64px;
        }
    }

    &__links{
        display: flex;

        &__item{
            margin-right: 5px;
            transition: opacity .5 ease;
            .button{
                margin: 5px !important;
                color: variables.$colorTextSecondary;
                text-decoration: none;

                
                @media (max-width: 768px){
                    font-size: 13px;
                    padding: 8px 11px;
                    height: 40px;
                    letter-spacing: 0;
                }
            }
        }
    }
}
