$bgColor: #040714;
$colorTextPrimary: silver;
$colorTextSecondary: #f9f9f9;
$colorLight: #fff;
$bgButtonPrimary: #6421ff;
$bgButtonSecondary: #0063e5;
$bgButtonTernary: rgba(0, 0, 0, .8);
$bgFaq: #13151d;

//mixins

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: $colorTextPrimary
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: $colorTextSecondary;
}


