@use 'variables';
@use 'hero';
@use 'shows';
@use 'plans';

@font-face{
    font-family: Avenir;
    src: url(../fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Avenir, sans-serif;
}

body{
    background-color: variables.$bgColor;
}

.text--big{
    @include variables.text(18px);
}

.text--small{
    @include variables.text(12px);
}

.text{
    @include variables.text;
}

.title--big{
    @include variables.title(44px);
}

.title{
    @include variables.title;
}

.title--small{
    @include variables.title(28px);
}

.link-text{
    @include variables.text(18px);
    $color: variables.$colorTextSecondary;
    text-decoration: underline;
}

.buttonPrimary{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variables.$colorTextSecondary;
    background-color: variables.$bgButtonPrimary;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2vw;
    margin-bottom: 8px;

    &:hover{
        filter: brightness(1.2);
    }
}
